body{
    background-color: #fff;
    background-image: url("../img/forme_header_mages.png");
    background-position: top right;
    background-size: 28%;
}
.background-body{
    background-color: #FEF5F0;
    background-image: url(../img/forme_header_mages.png);
    background-position: top right;
    background-size: 28%;
    background-repeat: no-repeat;
}
/***********************Header************************/

header .nav li a {
    color: #FF6B77;
    font-family: Poppins;
}
header .nav li a:hover{
    color: #FFA0A4;
}
header .nav li .button-simple{
    background-color: #FF6B77;
}
header .nav li .button-simple:hover{
    background-color: #FFA0A4;
    color: #fff;
}
/***********************Page_ambiance************************/
/***************ambiance**************/
.bloc_ambiance {
    margin-bottom: 80px;
}
.bloc_ambiance>ul>li{
    padding: 40px 0;
    background-color: #fff;
    margin-top: 15px;
    height: 690px;
}
.bloc_ambiance .grande_photo{
    width: 100%;
    height: 300px;
    text-align: right;
}
.bloc_ambiance .grande_photo{
    width: 100%;
    height: 300px;
    text-align: right;
    margin-bottom: 5px;
}
.bloc_ambiance .petites_photos{
    width: 100%;
    height: 60px;
    text-align: right;
    margin-bottom: 54px;
}
.bloc_ambiance .petites_photos img,
.bloc_ambiance .grande_photo img{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius:4px ;
    margin: 5px;
}
.bloc_ambiance .petites_photos img{
    cursor: pointer;
}

.bloc_ambiance .sos{
    background: #4D43B0;
    color: #fff;
    padding:20px 20px 40px 20px;
    position: relative;
}
.bloc_ambiance .sos h3{
    color: #fff;
    position: absolute;
    top: -36px;
    padding: 2px 8px;
    font-size: 28px;
    font-weight: 900;
    background: #719FFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.bloc_ambiance .sos h4{
    font-size: 12px;
}
.bloc_ambiance .sos p{
    line-height: 15px;
    font-size: 10px;
}
.bloc_ambiance .sos .quizz{
    height: 21px;
    text-align: right;
}
.bloc_ambiance .sos .quizz a{
    position: relative;
    top: 19px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 21px;
    padding: 8px 13px;
}
.bloc_ambiance .sos .quizz a:hover{
    background-color: #FF6B77;
    color: #fff;
    border: 1px solid #FF6B77;
}
.bloc_ambiance ul .infos .button-simple{
    background-color: transparent;
    border: 1px solid #4D43B0;
    color: #4D43B0;
    font-size: 8px;
    font-weight: 600;
    padding: 5px 11px;
    text-transform: uppercase;
    margin-right: 5px;
    margin-bottom: 10px;
}
.bloc_ambiance ul .infos h2{
    letter-spacing: 0.5px;
    font-weight: 600;
    margin: 20px 0 5px;
    line-height: 20px;
    font-size: 18px;
    color: #4D43B0;
    text-transform: uppercase;
}
.bloc_ambiance ul .infos .intro{
    line-height: 20px;
    font-size: 14px;
    color: #4D43B0;
    margin-bottom: 25px;
}
.bloc_ambiance ul .line{
    height: 1px;
    width: 98%;
    margin: 0 0 0 5px;
}
.bloc_ambiance ul .infos .prix{
    font-size: 24px;
    font-weight: 600;
    line-height: 15px;
    text-align: right;
    color: #4F4F4F;
}
.bloc_ambiance ul .infos .prix span{
    font-size: 10px;
}
.bloc_ambiance ul .infos h3{
    font-size: 12px;
    color: #4D43B0;
    font-weight: 600;
    line-height: 20px;
}
.bloc_ambiance ul .infos h4{
    font-size: 12px;
    color: #4F4F4F;
    font-weight: 600;
    margin: 20px 0 5px;
}
.bloc_ambiance ul .infos p{
    line-height: 20px;
    font-size: 12px;
    color: #868E95;
    margin-bottom: 21px;
}
.bloc_ambiance ul .sens{
    display: flex;
    flex-direction: column;
}
.bloc_ambiance ul .sens li{
    height: 43px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #E0E0E0;
}
.bloc_ambiance ul .sens li:first-child{
    border-top: 0.5px solid #E0E0E0;
}
.bloc_ambiance ul .sens p{
    display: inline-block;
    text-align: right;
    margin: auto 0;
    line-height: 20px;
    font-size: 10px;
    color: #4F4F4F;
    font-weight: 600;
    position: relative;
}
.bloc_ambiance ul .sens img{
    margin-right: 5px;
    width: 28px;
}
.bloc_ambiance ul .sens p:first-child{
    text-transform: uppercase;
}
.bloc_ambiance ul .sens p:last-child{
    line-height: 16px;
    font-size: 9px;
    color: #4D43B0;
    font-weight: normal;
}
.bloc_ambiance ul .sens p:last-child span{
    line-height: 20px;
    font-size: 10px;
    color: #4D43B0;
    font-weight: 600;
}

/***************service**************/
.bloc_service{
    background-color: #9B9B9B;
    color: #fff;
    text-align: center;
    padding: 35px 0;
}
.bloc_service h3{
    margin-top: 0;
    font-size: 20px;
}
.bloc_service p{
    font-size: 12px;
}

/***************bloc-packs**************/
.bloc_pack{
    margin-top: 120px;
}

/***************form_ambiance**************/
.bloc_form{
    position: relative;
    height: 1350px;
}
.bloc_form h3{
    margin-top: 50px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #4D43B0;
}
.bloc_form h4{
    font-size: 18px;
    color: #4D43B0;
    font-weight: 500;
    margin-bottom: 35px;
}

/***stepbystep****/
.retour1,
.retour2,
.retour3,
.retour4{
    cursor: pointer;
}
* {
    font-size: 16px;
}

input:focus,
button:focus {
    outline: none;
}

button:hover,
.reset:hover {
    opacity: .8;
}

button:active,
.reset:active {
    opacity: .5;
}

.contain_form {
    width: 700px;
    position: absolute;
    top: 57%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.steps {
    margin-bottom: 10px;
    position: relative;
    height: 25px;
    width: 80%;
    margin-left: 10%;
}

.steps > div {
    position: absolute;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    height: 25px;
    padding: 0 5px;;
    display: inline-block;
    width: 80px;
    text-align: center;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    top: -50px;
}

.steps > div > span {
    line-height: 25px;
    height: 25px;
    margin: 0;
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: 300;
}

.steps > div > .liner {
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background: #999;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.step-one {
    left: -10px;
}

.step-two {
    left: 23.5%;
    clip: rect(0, 0px, 25px, 0px);
}

.step-three {
    left: 48%;
    clip: rect(0, 0px, 25px, 0px);
}

.step-four {
    left: 73%;
    clip: rect(0, 0px, 25px, 0px);
}
.step-five {
    left: 98%;
    clip: rect(0, 0px, 25px, 0px);
}
.line {
    width: 80%;
    height: 2px;
    background: #ddd;
    position: relative;
    border-radius: 10px;
    overflow: visible;
    margin-bottom: 25px;
    margin-left: 10%;
}

.line .dot-move {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 15px;
    height: 15px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ddd;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.line .dot {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    left: 0;
    background: #ddd;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translate(-50%, -50%) scale(.5);
    -ms-transform: translate(-50%, -50%) scale(.5);
    transform: translate(-50%, -50%) scale(.5);
}

.line .dot.one {
    left: 0;
    background: #bbb;
}

.contain_form.slider-one-active .dot.one {
    background: #4D43B0;
}

.line .dot.two {
    left: 25%;
    background: #bbb
}

.line .dot.three {
    left: 50%;
    background: #bbb
}
.line .dot.four {
    left: 75%;
    background: #bbb
}
.line .dot.five {
    left: 100%;
    background: #bbb
}

.slider-ctr {
    width: 100%;
    overflow: hidden;
}

.slider {
    overflow: hidden;
    width: 3500px;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translate(0px) scale(1);
    -ms-transform: translate(0px) scale(1);
    transform: translate(0px) scale(1);
    height: 1250px;
}

.contain_form.slider-one-active .slider-two,
.contain_form.slider-one-active .slider-three,
.contain_form.slider-one-active .slider-four {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

.contain_form.slider-two-active .slider-one,
.contain_form.slider-two-active .slider-three,
.contain_form.slider-one-active .slider-four {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

.contain_form.slider-three-active .slider-one,
.contain_form.slider-three-active .slider-two,
.contain_form.slider-one-active .slider-four {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}
.contain_form.slider-four-active .slider-one,
.contain_form.slider-four-active .slider-two,
.contain_form.slider-one-active .slider-three {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

.slider-one,
.slider-two,
.slider-three,
.slider-four {
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.slider-form {
    float: left;
    width: 700px;
    text-align: center;
}

.slider-form h2 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    color: #999;
    position: relative;
}

.slider-form h2 .yourname {
    font-weight: 600;
}

.slider-form h3 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 1.5;
    color: #999;
    position: relative;
}

.slider-form h3 .balapa {
    font-family: 'Pacifico', sans-serif;
    display: inline-block;
    color: #4D43B0;
    text-decoration: none
}

.slider-form [type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    background: #fafafa;
    border: 1px solid transparent;
    color: #777;
    border-radius: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 99;
    font-size: 11px;
}

.slider-form [type="text"]:focus {
    background: #fcfcfc;
    border: 1px solid #ddd;
}

.label-ctr {
    margin-bottom: 50px;
}

label.radio {
    height: 55px;
    width: 55px;
    display: inline-block;
    margin: 0 10px;
    background: transparent;
    position: relative;
    border-radius: 50%;
    cursor: pointer
}

/*  two */

.contain_form.two .line .dot-move {
    left: 25%;
    -webkit-animation: .3s anim 1;
}

.contain_form.two .line .dot.two {
    background: #4D43B0;
}

.contain_form.two .slider {
    -webkit-transform: translate(-700px);
    -ms-transform: translate(-700px);
    transform: translate(-700px);
}

.contain_form.two .step-two {
    clip: rect(0, 100px, 100px, 0px);
}

.contain_form.two .step-one .liner {
    width: 100%;
}

/*  three */

.contain_form.three .line .dot-move {
    left: 50%;
    -webkit-animation: .3s anim 1;
}

.contain_form.three .line .dot.three {
    background: #4D43B0;
}

.contain_form.three .slider {
    -webkit-transform: translate(-1400px);
    -ms-transform: translate(-1400px);
    transform: translate(-1400px);
}

.contain_form.three .step-two,
.contain_form.three .step-three {
    clip: rect(0, 100px, 100px, 0px);
}

.contain_form.three .step-one .liner,
.contain_form.three .step-two .liner,
.contain_form.three .step-two .three{
    width: 100%;
}
/*  four */

.contain_form.four .line .dot-move {
    left: 75%;
    -webkit-animation: .3s anim 1;
}
.contain_form.four .line .dot.four {
    background: #4D43B0;
}
.contain_form.four .slider {
    -webkit-transform: translate(-2100px);
    -ms-transform: translate(-2100px);
    transform: translate(-2100px);
}
.contain_form.four .step-two,
.contain_form.four .step-three,
.contain_form.four .step-four {
    clip: rect(0, 100px, 100px, 0px);
}

.contain_form.four .step-one .liner,
.contain_form.four .step-two .liner,
.contain_form.four .step-three .liner{
    width: 100%;
}
/*  five */

.contain_form.five .line .dot-move {
    left: 100%;
    -webkit-animation: .3s anim 1;
}

.contain_form.five .line .dot.five {
    background: #4D43B0;
}

.contain_form.five .slider {
    -webkit-transform: translate(-2800px);
    -ms-transform: translate(-28100px);
    transform: translate(-2800px);
}

.contain_form.five .step-two,
.contain_form.five .step-three,
.contain_form.five .step-four ,
.contain_form.five .step-five {
    clip: rect(0, 130px, 100px, 0px);
}

.contain_form.five .step-one .liner,
.contain_form.five .step-two .liner,
.contain_form.five .step-three .liner,
.contain_form.five .step-four .liner{
    width: 100%;
}
/**end stepbystep ambiance**/
.error{
    display: none;
}
.error_show{
    display: block;
    color: #ED5055;
}
input.invalid{
    border: 2px solid red !important;
}
input.valid{
    border: 2px solid green !important;
}
.slider-form {
    position: relative;
}
.slider-form .retour{
    position: absolute;
    top: 11px;
    left: 25px;
    font-weight: 500;
    font-size: 13px;
    color: #4D43B0;
    cursor: pointer;
}
.slider-form .retour:hover{
    color: #6D5FFC;
}
/***Code_postal***/
#code_postal input{
    width: 400px;
    border: 1px solid #BFBFBF;
    border-radius: 4px;
}
/***menu***/
.bloc_menu{
    text-align: center;
}
.bloc_menu>p{
    font-size: 11px;
    letter-spacing: 0.458333px;
    color: #9B9B9B;
    padding: 0 10px;
    margin-bottom: 28px;
}
.bloc_menu>ul>li{
    background-color: transparent;
    padding: 10px 15px;
    height: 400px;
    margin-bottom: 20px;
    box-shadow: -2px 7px 12px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-left:7%;
}
.bloc_menu>ul>li:nth-child(2n){
    margin-left: 3%
}
.bloc_menu>ul>li img{
    height: 110px;
}
.bloc_menu ul li h5{
    font-size: 14px;
    font-weight: 600;
    color: #4A4A4A;
    margin: 2px 5px 8px;
}
.bloc_menu ul li ul li{
    display: flex;
    height: 60px;
    border-bottom: 0.5px solid #E0E0E0;
    text-align: left;
}
.bloc_menu ul li ul li:first-child{
    border-top: 0.5px solid #E0E0E0;
}
.bloc_menu ul li .titre_menu{
    line-height: 19px;
    font-size: 12px;
    color: #4F4F4F;
    margin: auto 20px auto 0;
    font-weight: 600;
    width: 70px;
}

.bloc_menu ul li .text_menu{
    margin: auto 0;
    font-weight: 500;
    line-height: 17px;
    font-size: 11px;
    color: #4F4F4F;
    width: 240px;
}
.bloc_menu .number {
    margin-top: 15px;
}
.bloc_menu .number .input-number{
    width: 45px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 40px;
    font-weight: 300;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color: #828282;
    margin: 0;
    padding: 0;
    border: none;
}
.bloc_menu .number p{
    background: #4D43B0;
    color: #fff;
    padding: 7px 0;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bloc_menu .number p:last-child{
    border-radius: 0 5px 5px 0;
}
.contain_form  h5{
    line-height: 22px;
    font-size: 13px;
    color: #4D43B0;
    font-weight: 500;
    margin-top: 20px;
}
.bloc_menu textarea{
    width: 400px;
    height: 130px;
    line-height: 16px;
    font-size: 12px;
    color: #868E95;
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
}
.contain_form .slider-ctr {
    width: 102%;
    overflow: hidden;
}
.contain_form .button-simple{
    border: none;
    padding: 10px 25px;
    font-size: 13px;
    background-color: #4D43B0;
    margin-top: 20px;
}
/***date & heure***/
.contain_form .clockpicker{
    margin: auto;
}
.contain_form .clockpicker input{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

/***Contact***/
.contain_form .contact h4{
    font-weight: 300;
    font-size: 18px;
    color: #4D43B0;
}
.contain_form .contact h5{
    font-weight: 500;
    line-height: 22px;
    font-size: 13px;
    color: #4D43B0;
    text-align: left;
}

.contain_form .contact input{
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    line-height: 21px;
    font-size: 12px;
    color: #868E95;
    padding-left: 20px;
    margin: 0;
}
/***recapitulatif***/
.recap ul li {
    border-top: 1px solid #4D43B0;
}
.recap ul h5{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #4D43B0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
.recap ul li div{
    display: flex;
    text-align: left;
    margin: auto 0;
}
.recap ul li{
    padding: 15px 0;
}
.recap ul li .pack div{
    flex-direction: column;
}
.recap ul li .pack div span{
    margin-left: 15px;
    font-weight: 500;
    font-size: 14px;
    color: #828282;
}
.recap ul li .input_menu{
    flex-direction: column;
}
.recap ul li .input_menu div{
    flex-direction: initial;
    padding: 15px 0;
}
.recap ul li .input_menu div:last-child{
    flex-direction: column;
    margin-left: 127px;
}
.recap ul li .input_menu div img{
    width: 155px;
}
.recap .recap_titre{
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: #4F4F4F;
    margin-bottom: 5px;
    text-align: left;
}
.slider-form .recap_text input{
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    color: #4F4F4F;
    pointer-events: none;
}
.slider-form .recap_text input:focus{
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.slider-form .pack input,
.slider-form .input_menu input{
    margin-left: 15px;
}
.recap ul img{
    width: 110px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.recap ul .input_date input{
    padding: 10px 20px;
    width: 40%;
    background: #4D43B0;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    margin-right: 15px;
}
.recap ul .input_date input:focus{
    background: #4D43B0;
    border-radius: 3px;
    color: #fff;
}
.recap ul .input_date input:last-child{
    width: 20%;
}
.recap ul .input_menu div{
    flex-direction: column;
}
.recap ul .info_perso div{
    flex-direction: column;
}
.recap ul .info_perso>div{
    border-bottom: 1px solid #E0E0E0;
    margin: 5px 0;
    padding-bottom: 5px;
}
.recap ul .prix {
    flex-direction: column;
}
.recap ul .prix div{
    justify-content: space-between;
    float: right;
    width: 60%;
}
.recap ul .prix div p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.recap ul .prix div .rayer{
    text-decoration:line-through;
}
.recap ul .prix div p:last-child{
    justify-content: end;
    font-weight: 600;
    font-size: 15px;
    color: #4D43B0;
}
/***Edgar bot***/

.commande_bot{
    height: 300px;
    padding: 5px;
    background-color: #4D43B0;
}
.commande_bot .text_bot{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    padding: 18pt;
    background-image: url("../img/edgard.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #fff;
    border-radius: 4px;
    background-size: 12%;
    background-position-x: 94%;
    position: relative;
}

.commande_bot .text_bot h4{
    font-size: 21px;
    text-align: center;
    color: #4D43B0;
}
.commande_bot .text_bot p{
    font-size: 14px;
    text-align: center;
    color: #4D43B0;
}

.commande_bot .text_bot img{
    position: absolute;
    right: 1.5%;
    width: 30px;
    height: auto;
    top: 97%;
}

/*****************Mentions légales*********************/
.bloc_mentions-legales h2{
    color: #FF6B77;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}
.bloc_mentions-legales h3{
    color: #4D43B0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.bloc_mentions-legales p{
    color: #4A4A4A;
    font-size: 12px;
    margin-bottom: 40px;
}

/*****************Plan site*********************/
.bloc_plan-site{
    text-align: center;
}
.bloc_plan-site h2{
    color: #FF6B77;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
}
.bloc_plan-site h3{
    color: #4D43B0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.bloc_plan-site h3:last-child{
    margin-bottom: 40px;
}
.bloc_plan-site h4{
    margin-bottom: 15px;
}
.bloc_plan-site ul{
    margin-bottom: 15px;
    margin-top: -10px;
}
.bloc_plan-site ul li a{
    font-size: 12px;
    color: #000000;
}

    /*****************Remerciment commande*********************/
.remerciement{
    text-align: center;
}

.remerciement h2{
    font-weight: 600;
    font-size: 64px;
    color: #4D43B0;
    margin-bottom: 20px;
}

.remerciement p:nth-child(2){
    font-weight: 600;
    line-height: 24px;
    font-size: 15px;
    color: #4D43B0;
    margin-bottom: 15px;
}
.remerciement p:nth-child(3){
    line-height: 21px;
    font-size: 13px;
    color: #9B9B9B;
    margin-bottom: 40px;
}
.remerciement p:last-child{
    margin-top: 60px;
}
.remerciement a{
    margin-top: 60px;
    background-color: #202E77;
    border: none;
        padding: 11px 24px;
}
.remerciement a:hover{
    color: #fff;
}

/*****************Footer*********************/
footer{
    background-color: transparent;
    position:relative;
}
@media screen and (min-width: 1599px) {
    .background-body {
        background-size: 32%;
    }
}
@media screen and (max-width:1280px) {
    .bloc_ambiance > ul > li {
        height: 730px;
    }
    .bloc_ambiance ul .sens li {
        height: 50px;
    }
    .bloc_ambiance ul .sens p:last-child {
        margin-left: 0;
        width: 60%;
    }
    .bloc_ambiance .grande_photo,
    .bloc_ambiance .petites_photos {
        text-align: center;
    }
    .bloc_ambiance .petites_photos {
        text-align: center;
        height: 52px;
    }
    .bloc_ambiance ul .infos>p:last-child {
        text-align: center;
    }
}
@media screen and (max-width: 990px) {
    .bloc_ambiance > ul > li {
        height: auto;
    }
    .bloc_ambiance .petites_photos {
        display: none;
    }
    .remerciement{
        width: 100%;
    }
    .remerciement p:last-child{
        margin-bottom: 100px;
    }
    .bloc_ambiance ul .infos>p:last-child {
         margin-top: 20px;
     }
}
@media screen and (max-width: 768px) {
    .bloc_ambiance . {
        height: auto;
    }
    .bloc_ambiance .grande_photo {
        height: auto;
    }
    .bloc_ambiance .grande_photo img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
    .bloc_ambiance ul .infos .button-simple {
        padding: 4px 8px;
        font-size: 7px;
        color: #4D43B0;
    }
    .bloc_ambiance ul .infos h2 {
        line-height: 20px;
        font-size: 20px;
        color: #4D43B0;
    }
    .bloc_ambiance ul .infos .prix {
        text-align: center;
        margin-top: -12px;
        font-size: 20px;
    }
    .bloc_ambiance ul .infos>p:last-child {
        margin: 10px 0;
        text-align: center;
    }
    .bloc_ambiance ul .sens li{
        height: auto;
        padding: 10px 0 5px 0;
        flex-direction: column;
    }
    .bloc_ambiance ul .sens li p {
        padding: 0;
        font-size: 9px;
        width: 100%;
        text-align: left;
    }
    .bloc_ambiance ul .sens p:last-child{
        font-size: 8px;
        margin-left: 35px;
    }
    .bloc_ambiance ul .sens p:last-child span {
        font-size: 9px;
    }

}
