body{
    background-color: #fff;
    background-image: url("../img/forme_header_mages.png");
    background-position: top right;
    background-size: 30%;
}

/***********************Page_equipe************************/
.bloc_equipe{
    text-align: center;
}

.bloc_equipe h2{
    font-weight: 700;
    font-size: 20px;
    margin: 48px 0 24px;
    color: #4A4A4A;
}
.bloc_equipe>p{
    font-size: 12px;
    margin-bottom: 42px;
    color: #9B9B9B;
}
.bloc_equipe ul li h4{
    font-size: 14px;
    color: #4A4A4A;
    font-weight: bold;
}

.bloc_equipe ul li p{
    font-size: 14px;
    color: #9B9B9B;
    margin-bottom: 35px;
}

/***********************Page_ambiance************************/
/***************ambiance**************/
.bloc_ambiance {
    margin-bottom: 80px;
}
.bloc_ambiance ul .infos p:first-child{
    font-size: 12px;
    color: #4A4A4A;
}
.bloc_ambiance ul .infos h2{
    font-size: 26px;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin: 0 0 18px 0;
}
.bloc_ambiance ul .infos .prix{
    font-size: 24px;
    font-weight: bold;
    line-height: 15px;
    text-align: right;
}
.bloc_ambiance ul .infos .prix span{
    font-size: 10px;
}
.bloc_ambiance ul .infos .description{
    font-size: 11px;
    letter-spacing: 0.5px;
}
.bloc_ambiance ul .infos h4{
    font-size: 10px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 5px;
}
.bloc_ambiance ul .infos .inclus {
    font-size: 11px;
    color: #000;
}
.bloc_ambiance ul .infos>p:last-child{
    margin-top: 20px;
}

.bloc_ambiance ul .infos .button-simple{
    color: #fff;
    padding: 10px 20px;
}
/***************service**************/
.bloc_service{
    background-color: #9B9B9B;
    color: #fff;
    text-align: center;
    padding: 35px 0;
}
.bloc_service h3{
    margin-top: 0;
    font-size: 20px;
}
.bloc_service p{
    font-size: 12px;
}

/***************form_ambiance**************/
.bloc_form{
    position: relative;
    height: 600px;
}
.bloc_form h4{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #4A4A4A;
}

/***stepbystep****/
* {
    font-size: 16px;
}

input:focus,
button:focus {
    outline: none;
}

button:hover,
.reset:hover {
    opacity: .8;
}

button:active,
.reset:active {
    opacity: .5;
}

.contain_form {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.steps {
    margin-bottom: 10px;
    position: relative;
    height: 25px;
    width: 80%;
    margin-left: 10%;
}

.steps > div {
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    height: 25px;
    padding: 0 5px;;
    display: inline-block;
    width: 80px;
    text-align: center;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.steps > div > span {
    line-height: 25px;
    height: 25px;
    margin: 0;
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    font-weight: 300;
}

.steps > div > .liner {
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background: #999;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.step-one {
    left: 0;
}

.step-two {
    left: 33%;
    clip: rect(0, 0px, 25px, 0px);
}

.step-three {
    left: 66%;
    clip: rect(0, 0px, 25px, 0px);
}

.step-four {
    left: 100%;
    clip: rect(0, 0px, 25px, 0px);
}

.line {
    width: 80%;
    height: 5px;
    background: #ddd;
    position: relative;
    border-radius: 10px;
    overflow: visible;
    margin-bottom: 50px;
    margin-left: 10%;
}

.line .dot-move {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 15px;
    height: 15px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #ddd;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.line .dot {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    left: 0;
    background: #ddd;
    border-radius: 50%;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translate(-50%, -50%) scale(.5);
    -ms-transform: translate(-50%, -50%) scale(.5);
    transform: translate(-50%, -50%) scale(.5);
}

.line .dot.one {
    left: 0%;
    background: #bbb;
}

.contain_form.slider-one-active .dot.one {
    background: #5892fc;
}

.line .dot.two {
    left: 33%;
    background: #bbb
}

.line .dot.three {
    left: 66%;
    background: #bbb
}
.line .dot.four {
    left: 100%;
    background: #bbb
}

.slider-ctr {
    width: 100%;
    overflow: hidden;
}

.slider {
    overflow: hidden;
    width: 2800px;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translate(0px) scale(1);
    -ms-transform: translate(0px) scale(1);
    transform: translate(0px) scale(1);
}

.contain_form.slider-one-active .slider-two,
.contain_form.slider-one-active .slider-three,
.contain_form.slider-one-active .slider-four {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

.contain_form.slider-two-active .slider-one,
.contain_form.slider-two-active .slider-three,
.contain_form.slider-one-active .slider-four {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

.contain_form.slider-three-active .slider-one,
.contain_form.slider-three-active .slider-two,
.contain_form.slider-one-active .slider-four {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}
.contain_form.slider-four-active .slider-one,
.contain_form.slider-four-active .slider-two,
.contain_form.slider-one-active .slider-three {
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
}

.slider-one,
.slider-two,
.slider-three,
.slider-four {
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.slider-form {
    float: left;
    width: 700px;
    text-align: center;
}

.slider-form h2 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    color: #999;
    position: relative;
}

.slider-form h2 .yourname {
    font-weight: 600;
}

.slider-form h3 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 1.5;
    color: #999;
    position: relative;
}

.slider-form h3 .balapa {
    font-family: 'Pacifico', sans-serif;
    display: inline-block;
    color: #5892fc;
    text-decoration: none
}

.slider-form [type="text"] {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    background: #fafafa;
    border: 1px solid transparent;
    color: #777;
    border-radius: 50px;
    margin-bottom: 50px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    position: relative;
    z-index: 99;
}

.slider-form [type="text"]:focus {
    background: #fcfcfc;
    border: 1px solid #ddd;
}

.label-ctr {
    margin-bottom: 50px;
}

label.radio {
    height: 55px;
    width: 55px;
    display: inline-block;
    margin: 0 10px;
    background: transparent;
    position: relative;
    border-radius: 50%;
    cursor: pointer
}

/*  two */

.contain_form.two .line .dot-move {
    left: 33%;
    -webkit-animation: .3s anim 1;
}

.contain_form.two .line .dot.two {
    background: #5892fc;
}

.contain_form.two .slider {
    -webkit-transform: translate(-700px);
    -ms-transform: translate(-700px);
    transform: translate(-700px);
}

.contain_form.two .step-two {
    clip: rect(0, 100px, 25px, 0px);
}

.contain_form.two .step-one .liner {
    width: 100%;
}

/*  three */

.contain_form.three .line .dot-move {
    left: 66%;
    -webkit-animation: .3s anim 1;
}

.contain_form.three .line .dot.three {
    background: #5892fc;
}

.contain_form.three .slider {
    -webkit-transform: translate(-1400px);
    -ms-transform: translate(-1400px);
    transform: translate(-1400px);
}

.contain_form.three .step-two,
.contain_form.three .step-three {
    clip: rect(0, 100px, 25px, 0px);
}

.contain_form.three .step-one .liner,
.contain_form.three .step-two .liner,
.contain_form.three .step-two .three{
    width: 100%;
}
/*  four */

.contain_form.four .line .dot-move {
    left: 100%;
    -webkit-animation: .3s anim 1;
}

.contain_form.four .line .dot.four {
    background: #5892fc;
}

.contain_form.four .slider {
    -webkit-transform: translate(-2100px);
    -ms-transform: translate(-2100px);
    transform: translate(-2100px);
}

.contain_form.four .step-two,
.contain_form.four .step-three,
.contain_form.four .step-four {
    clip: rect(0, 100px, 25px, 0px);
}

.contain_form.four .step-one .liner,
.contain_form.four .step-two .liner,
.contain_form.four .step-three .liner{
    width: 100%;
}
/**end stepbystep ambiance**/

/***menu***/
.bloc_menu{
    text-align: center;
}
.bloc_menu>p{
    font-size: 11px;
    letter-spacing: 0.458333px;
    color: #9B9B9B;
    padding: 0 10px;
    margin-bottom: 28px;
}
.bloc_menu ul li h5{
    font-size: 12px;
    font-weight: bold;
    color: #4A4A4A;
    margin-bottom: 5px;
}
.bloc_menu ul li{
    background-color: #F5F5FA;
    border-right: 10px solid #fff;
    border-left: 10px solid #fff;
    padding-top: 10px;
    height: 220px;
}
.bloc_menu ul li .titre_menu{
    font-size: 9px;
    letter-spacing: 0.62px;
    color: #9B9B9B;
}
.bloc_menu ul li .text_menu{
    font-size: 10px;
    letter-spacing: 0.62px;
    color: #9B9B9B;
    margin-bottom: 13px;
}

/*****************Mentions légales*********************/
.bloc_mentions-legales h2{
    color: #FF6B77;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}
.bloc_mentions-legales h3{
    color: #4D43B0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}
.bloc_mentions-legales p{
    color: #4A4A4A;
    font-size: 12px;
    margin-bottom: 40px;
}

/*****************Mentions légales*********************/
.bloc_plan-site{
    text-align: center;
}
.bloc_plan-site h2{
    color: #FF6B77;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}
.bloc_plan-site h3{
    color: #4D43B0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}
.bloc_plan-site h3:last-child{
    margin-bottom: 40px;
}

/*****************Footer*********************/
footer{
    background-color: transparent;
}