Options +FollowSymlinks
RewriteEngine On
RewriteRule ^choix-ambiances pages/choix-ambiances.php [L]
RewriteRule ^equipe pages/equipe.php [L]
RewriteRule ^ambiance pages/ambiance.php [L]
RewriteRule ^mentions-legales pages/mentions-legales.php [L]
RewriteRule ^plan-site pages/plan-site.php [L]
RewriteRule ^remerciement pages/remerciement.php [L]
